@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* Text color */
.primary-color{
    color: rgba(137, 135, 161, 1);
}
.sendary-color{
    color: rgba(233, 90, 8, 1);
}
.thred-color{
    color: white;
}
.tomato-back{
    background-color: rgba(233, 90, 8, 1);
}

.fonts-family {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.Inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.position{
    align-items: end;
}
.possiontio{
    position: relative;
}
.pop{
    position: absolute;
    top: -123px;
    right: -105px;
}
.back-img-1{
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.back-img-2{
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.back-img-3{
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.back-img{
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
